local M = {
  background = "#{{ bg "default" }}",
  surface    = "#{{ bg "surface" }}",
  text       = "#{{ fg "default" }}",
  comment    = "#{{ fg "muted" }}",
  keyword    = "#{{ colors "magenta" }}",
  string     = "#{{ colors "green" }}",
  fn         = "#{{ colors "blue" }}",
  error      = "#{{ colors "red" }}",
  warning    = "#{{ colors "yellow" }}",
}

return M
