themes {
  system-light {
    bg "#{{ bg "surface" }}"
    fg "#{{ fg "default" }}"
    red "#{{ colors "red" }}"
    green "#{{ colors "green" }}"
    blue "#{{ colors "blue" }}"
    yellow "#{{ colors "yellow" }}"
    magenta "#{{ colors "magenta" }}"
    orange "#{{ colors "yellow" }}"
    cyan "#{{ colors "cyan" }}"
    black "#{{ bg "default" }}"
    white "#{{ fg "default" }}"
  }
}
