export FZF_DEFAULT_OPTS=" \
--color=bg+:#{{ bg "highlight" }},bg:#{{ bg "default" }},spinner:#{{ colors "magenta" }},hl:#{{ colors "red" }} \
--color=fg:#{{ fg "default" }},header:#{{ colors "red" }},info:#{{ colors "blue" }},pointer:#{{ colors "magenta" }} \
--color=marker:#{{ colors "cyan" }},fg+:#{{ fg "default" }},prompt:#{{ colors "blue" }},hl+:#{{ colors "red" }} \
--color=selected-bg:#{{ bg "surface" }} \
--color=border:#{{ bg "highlight" }},label:#{{ fg "default" }}"
