# vim:set ft=tmux:

# --> Colorscheme (Light)
thm_bg="#{{ bg "default" }}"
thm_fg="#{{ fg "default" }}"

# Colors
thm_red="#{{ colors "red" }}"
thm_green="#{{ colors "green" }}"
thm_yellow="#{{ colors "yellow" }}"
thm_blue="#{{ colors "blue" }}"
thm_magenta="#{{ colors "magenta" }}"
thm_cyan="#{{ colors "cyan" }}"

# Surfaces
thm_bg_surface="#{{ bg "surface" }}"
thm_bg_highlight="#{{ bg "highlight" }}"

# Text variants
thm_fg_muted="#{{ fg "muted" }}"
thm_fg_subtle="#{{ fg "subtle" }}"
